    @charset "utf-8";

/*変数*/

$base-color:#6c6c6c;
$main-color:#256be6;
$bg-color:#123D88;
$bg-color2:#F7FAFF;
$ac-color:#ffffff;
$ac-color2:#2DBE61;
$ac-color3:#F87624;

$basic-shadow: 0 5px 30px rgba(0,0,0,0.05);

@mixin basic-inner{
    width: 60.93%;
    max-width: 1170px;
    margin: 0 auto;
}

@mixin narrow-inner{
    width: 50.52%;
    max-width: 970px;
    margin: 0 auto;
}

@mixin basic-flex{
    display: flex;
    flex-wrap: wrap;
}

/*ベースゾーン*/

body{
    color: $base-color;
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    line-height: (28/16);
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

ul{
    list-style:none ;
}

a{
    color: $ac-color;
    text-decoration: none;
}


/*エレメント*/

/*header*/

.header{
    padding: 30px 0;
    background-color: $bg-color;

    &__inner{
        @include basic-inner;
        @include basic-flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title{
        line-height: 1;
    }

}

.g-nav{
    &__list{
        @include basic-flex;
    }

    &__item{
        margin-left: 30px;
    }

    &__link{
        color: $ac-color;
    }
}

.card{
    border-radius: 5px;
    background-color: #fff;

    &__icon{
        margin-bottom: 15px

    }

    &__title{
        color: #2f2f35;
        font-size: 22px;
        font-weight: bold;
    }

    &__mTitle{
        font-size: 18px;
        font-weight: bold;
    }

    &__wmTitle{
        color: $ac-color;
        font-size: 18px;
        font-weight: bold;
    }

    &--shadow{
        padding: 50px 25px;
        box-shadow:$basic-shadow;

    }

    &__text{
        margin: 0;
    }

    &--flex{
        @include basic-flex;
        justify-content: space-between;

        >.card__icon{
            width: 12.28%;
            padding:35px 25px;
        }

        >.card__info{
            width: 72.98%;
        }


    }

    &--blue{
        background: $main-color;
    }
}

.media{
    &__title{
        margin-bottom: 20px;
        color: #262926;
        font-size: 36px;
        font-weight: bold;
        line-height: 1.33;
    }

    &__subTitle{
            margin-bottom: 15px;
            color: $main-color;
            font-size: 15px;
            letter-spacing: 0.05em;
    }

    &__text{
        padding-bottom: 55px;
    }

    &--lead{
        max-width: 770px;
        margin: 0 auto;
    }

    &__button{
        margin:auto;
    }
}

.button{
    display: inline-block;
    text-align: center;

    &__link{


    }

    &__blue{
        border-radius: 32px;
        padding: 18px 47px;
        background-color: $main-color;
    }

    &__green{
        border-radius: 32px;
        padding: 18px 47px;
        background-color: $ac-color2;
    }

    &__orange{
        border-radius: 32px;
        padding: 18px 47px;
        background-color: $ac-color3;
    }

    &__lineWhite{
        border-radius: 32px;
        padding: 18px 47px;
        background-color: $bg-color;
        border: $bg-color 1px solid;
    }

    p{
        text-align: center;
    }
}

/*main*/



/*footer*/
.footer{
    padding: 30px 0;
    background-color: $bg-color;

    &__inner{
        @include basic-inner;
    }

    &__copy{
        display: block;
        text-align: right;
        color: $ac-color;

    }
}

/*index.html*/

.features{
    margin: 80px 0;
    &__inner{
        @include basic-inner;
        @include basic-flex;
        justify-content: space-between;


    }

    &__info{
        width: 42.7%;
    }

    &__list{
        @include basic-flex;
        justify-content: space-between;
        width: 50.4%;
    }

    &__card{
        width: 44%;
        margin: 40px 0;
    }
}


.payment{

    padding:    80px 0;
    &__inner{
        @include basic-inner;
        @include basic-flex;
        justify-content: space-between;
    }

    &__img{
        width: 50%;
    }

    &__info{
        width: 42.73%;
    }

}

.speciality{
    margin: 80px;

    &__inner{
        @include basic-inner;
    }

    &__info{

    }

    &__list{
        @include basic-flex;
        justify-content: space-between;
    }

    &__card{
        width: 27.35%;
        box-shadow: $basic-shadow;
        text-align: center;
        .card__icon{
            padding: 52px 0 4px 0;
        }

        >.card__info{
            padding: 27px;
        }
    }
}




/*about.html*/

.choose{
    padding: 80px 0;
    background-color: $bg-color2;
    text-align: center;
    &__inner{
        @include basic-inner;
    }

    &__info{

    }

    &__list{
        @include basic-flex;
        justify-content: space-between;
    }

    &__card{
        margin-top: 30px;

        width: 48.71%;
        box-shadow: $basic-shadow;

        &--inner{
            padding: 25px 35px;
        }
    }
}

.bring{
    background-color: $bg-color;
    color: $ac-color;
    text-align: center;

    padding: 80px 0;

    &__inner{
        @include basic-inner;
    }
}

.bring .media__title{
    color: $ac-color;
}

.wedo{
    margin: 80px 0;
    text-align: center;
    &__inner{
        @include narrow-inner;
    }

    &__list{
        @include basic-flex;
        justify-content: space-between;
    }

    &__card{
        width:30.93%;
        box-shadow: $basic-shadow;
    }
}
/*help.html*/
.secure{
    margin: 80px 0;

    &__inner{
        @include basic-inner;
    }

    &__list{
        @include basic-flex;
        justify-content: space-between;
    }

    &__card{
        width: 31.62%;
    }
}

.onlinepay{
    padding: 80px 0;
    background-color: $bg-color2;

        &__inner{
        @include basic-inner;
    }

}

.question{
    padding: 80px 0;
    background-color: $bg-color;
    color: $ac-color;
    text-align: center;

    &__inner{
        @include basic-inner;
    }

}

.question .media__title{
    color: $ac-color;
}

.asked{
    padding: 80px 0;
    text-align: center;

    &__inner{

        @include basic-inner;
    }

    &__list{
        @include basic-flex;
        justify-content: space-between;
        margin-bottom: 80px;
    }

    &__card{
        text-align: center;
        width: 19.65%;
        border-radius:5px ;

        >.card__icon{
            padding: 32px 0 7px 0;
            margin: 0;
        }

        >.card__info{
            padding:0 25px;
        }
    }
}